# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker map files
*.map

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects
*.dll
*.so
*.so.*
*.dylib

# Executables / CD builds
*.exe
*.out
*.app
*.hex
*.iso
*.bin

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Build and CD output directories
[Bb]uild[Dd]rop/
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
**/cd/data/0.bin
**/cd/data/0.BIN
**/cd/data/ABS.TXT
**/cd/data/BIB.TXT
**/cd/data/CPY.TXT
**/cd/data/SDDRVS.*
**/cd/data/BOOTSND.MAP
**/cd/data/3BANDANA.EXB
**/cd/music/*.raw
